<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="dist/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="dist/swiper/css/swiper.min.css">
    <link rel="stylesheet" href="dist/css/global.css">
    <link rel="stylesheet" href="dist/css/partsite/">
    <title>Master class ahahah</title>
</head>

<body>

    <header>
        <nav class="navbar  is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        adam bray
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu items">
                    <div class="navbar-end">
                        <a class="navbar-item ">Home</a>
                        <a class="navbar-item">Blog</a>
                        <a class="navbar-item">Forum</a>
                        <a class="navbar-item">Shop</a>
                        <a class="navbar-item">Examples</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>


    <section class="hero is-success is-threequarterheight">
        <div class="hero-body">
            <div class="container is-fullarea">
                <div class="swiper-container is-fullarea" id="swipper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">Slide 1</div>
                        <div class="swiper-slide">Slide 2</div>
                        <div class="swiper-slide">Slide 3</div>
                        <div class="swiper-slide">Slide 4</div>
                        <div class="swiper-slide">Slide 5</div>
                        <div class="swiper-slide">Slide 6</div>
                        <div class="swiper-slide">Slide 7</div>
                        <div class="swiper-slide">Slide 8</div>
                        <div class="swiper-slide">Slide 9</div>
                        <div class="swiper-slide">Slide 10</div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
    <section class="hero is-success is-onequarterheight ">
        <div class="hero-body">
            <div class="container is-fullarea ">
                test
            </div>
        </div>
    </section>

    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container is-fullarea ">
                <div class="columns is-multiline is-fullarea">
                    <div class="column is-6 see-column"> </div>
                    <div class="column is-6 see-column"> </div>
                    <div class="column is-6 see-column"> </div>
                    <div class="column is-6 see-column"> </div>
                </div>
            </div>
        </div>
    </section>

    <section class="hero is-medium">
        <div class="hero-body">
            <div class="container is-fullarea flex-fullcnt">
                <div class="columns  is-fullarea">
                    <umn class="column is-5 see-column"> </umn is-3div>
                    <div class="column is-7 see-column"> </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer">
        <div class="container is-fullarea flex-fullcnt">
            <div class="columns  is-fullarea">
                <div class="column is-4 see-column"> </div>
                <div class="column is-8 see-column"> </div>
            </div>
        </div>
    </footer>

</body>
<script src="dist/swiper/js/swiper.min.js"></script>
<script src="dist/tilt-js/tilt.min.js"></script>
<script src="dist/js/app.js"></script>

</html>